# Ignorar contenido de movies pero mantener la carpeta
movies/*
!movies/.gitkeep

# Ignorar contenido de downloads pero mantener la carpeta
downloads/*
!downloads/.gitkeep

# Ignorar datos de configuración de las aplicaciones
radarr/data/
prowlarr/data/
bazarr/data/

