movies/*
!movies/.gitkeep

downloads/*
!downloads/.gitkeep


radarr/data/
prowlarr/data/
bazarr/data/


bazarr/providers/*

!bazarr/providers/*.py

bazarr/providers/*/

bazarr/providers/__pycache__/
bazarr/providers/**/__pycache__/
bazarr/providers/**/*.pyc
bazarr/providers/**/*.pyo
bazarr/providers/**/*.pyd


*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

.DS_Store
Thumbs.db
desktop.ini

